daily_sales_report_n8n.json
{
  "name": "Daily Sales Report - Otoniq",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger-node",
      "name": "Schedule Trigger - Her Gün Sabah 9",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ydqqmyhkxczmdnqkswro.supabase.co/rest/v1/rpc/get_daily_sales_report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFteWhreGN6bWRucWtzd3JvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzMDU5MDYsImV4cCI6MjA3NTg4MTkwNn0.FMK-7vBZyaqgZRc_tEjCvaMUARZ23WK0aLEYVQ2FQoo"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFteWhreGN6bWRucWtzd3JvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzMDU5MDYsImV4cCI6MjA3NTg4MTkwNn0.FMK-7vBZyaqgZRc_tEjCvaMUARZ23WK0aLEYVQ2FQoo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_tenant_id",
              "value": "11111111-1111-1111-1111-111111111111"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-node",
      "name": "Supabase - Satış Verisi Çek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@otoniq.ai",
        "toEmail": "={{ $json.tenant_email || 'test@example.com' }}",
        "subject": "📊 Günlük Satış Raporu - Otoniq",
        "emailType": "text",
        "message": "=Merhaba,\n\nDünkü satış performansınız:\n\n- Toplam Gelir: ₺{{ $json.total_sales || 0 }}\n- Sipariş Sayısı: {{ $json.total_orders || 0 }}\n- Ortalama Sepet: ₺{{ $json.avg_order_value || 0 }}\n\nDetaylı rapor için Otoniq paneline giriş yapabilirsiniz.\n\nİyi çalışmalar!\nOtoniq.ai Ekibi",
        "options": {}
      },
      "id": "email-node",
      "name": "Email Gönder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger - Her Gün Sabah 9": {
      "main": [
        [
          {
            "node": "Supabase - Satış Verisi Çek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Satış Verisi Çek": {
      "main": [
        [
          {
            "node": "Email Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-16T00:00:00.000Z",
  "versionId": "1"
}
