low_stock_alert_n8n.json
{
  "name": "Low Stock Alert - Otoniq",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger-node",
      "name": "Schedule Trigger - Her 6 Saatte",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ydqqmyhkxczmdnqkswro.supabase.co/rest/v1/rpc/get_low_stock_products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFteWhreGN6bWRucWtzd3JvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzMDU5MDYsImV4cCI6MjA3NTg4MTkwNn0.FMK-7vBZyaqgZRc_tEjCvaMUARZ23WK0aLEYVQ2FQoo"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFteWhreGN6bWRucWtzd3JvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzMDU5MDYsImV4cCI6MjA3NTg4MTkwNn0.FMK-7vBZyaqgZRc_tEjCvaMUARZ23WK0aLEYVQ2FQoo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_tenant_id",
              "value": "11111111-1111-1111-1111-111111111111"
            },
            {
              "name": "p_threshold",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-node",
      "name": "Supabase - Düşük Stok Kontrolü",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.low_stock_count }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Düşük Stok Var mı?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "alerts@otoniq.ai",
        "toEmail": "={{ $json.tenant_email || 'test@example.com' }}",
        "subject": "⚠️ Düşük Stok Uyarısı - Otoniq",
        "emailType": "text",
        "message": "=Merhaba,\n\nAşağıdaki ürünlerinizin stoğu kritik seviyede ({{ $json.threshold }} adet altı):\n\n{{ $json.products.map(p => `- ${p.name} (SKU: ${p.sku}): ${p.stock} adet kaldı - Fiyat: ₺${p.price}`).join('\\n') }}\n\nToplam {{ $json.low_stock_count }} ürün düşük stokta.\n\nLütfen en kısa sürede stok yenilemesi yapın.\n\nOtoniq.ai Ekibi",
        "options": {}
      },
      "id": "email-node",
      "name": "Email Gönder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger - Her 6 Saatte": {
      "main": [
        [
          {
            "node": "Supabase - Düşük Stok Kontrolü",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Düşük Stok Kontrolü": {
      "main": [
        [
          {
            "node": "Düşük Stok Var mı?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Düşük Stok Var mı?": {
      "main": [
        [
          {
            "node": "Email Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-16T00:00:00.000Z",
  "versionId": "1"
}
