src/infrastructure/workflows/n8n-google-ai-simple.json
{
  "name": "Google AI Image Generation (Simple)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-image",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "google-ai-image-webhook"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/imagen-3.0-generate-001:generateImage",
        "method": "POST",
        "headers": {
          "Content-Type": "application/json",
          "Authorization": "Bearer {{$env.GOOGLE_AI_API_KEY}}"
        },
        "body": {
          "prompt": "={{$json.prompt}}",
          "style": "={{$json.style || 'realistic'}}",
          "quality": "={{$json.quality || 'high'}}",
          "aspectRatio": "={{$json.aspectRatio || '1:1'}}",
          "numImages": "={{$json.numImages || 1}}"
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "google-ai-http",
      "name": "Google AI HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{\n  \"success\": true,\n  \"images\": $json.images || [],\n  \"workflowId\": 'google-ai-workflow',\n  \"executionTime\": $json.executionTime || 0,\n  \"timestamp\": new Date().toISOString()\n}}}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{\n  \"success\": false,\n  \"error\": \"Google AI request failed\",\n  \"message\": $json.error || 'Unknown error',\n  \"timestamp\": new Date().toISOString()\n}}}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Google AI HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google AI HTTP Request": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "google-ai-image",
      "name": "Google AI Image"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
