src/infrastructure/workflows/templates/email-campaign-scheduler.json
{
  "name": "Email Campaign Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "name": "Check Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.VITE_SUPABASE_URL}}/rest/v1/email_campaigns",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.VITE_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.VITE_SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.scheduled"
            },
            {
              "name": "scheduled_at",
              "value": "lte.{{new Date().toISOString()}}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        }
      },
      "name": "Get Scheduled Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length || 0}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Campaigns",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{$env.VITE_SUPABASE_URL}}/rest/v1/email_campaign_recipients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.VITE_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.VITE_SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "campaign_id",
              "value": "eq.{{$json.id}}"
            },
            {
              "name": "status",
              "value": "eq.pending"
            },
            {
              "name": "select",
              "value": "*,customer:customers(*)"
            }
          ]
        }
      },
      "name": "Get Recipients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {
          "batchSize": 50
        }
      },
      "name": "Split Recipients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "={{$node['Get Recipients'].json.from_email || 'noreply@otoniq.ai'}}",
        "toEmail": "={{$json.customer.email}}",
        "subject": "={{$node['Get Recipients'].json.subject}}",
        "emailFormat": "html",
        "html": "={{$node['Get Recipients'].json.html_content}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.VITE_SUPABASE_URL}}/rest/v1/email_campaign_recipients",
        "method": "PATCH",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.VITE_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.VITE_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{$json.id}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "sent_at",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "name": "Update Recipient Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "url": "={{$env.VITE_SUPABASE_URL}}/rest/v1/email_campaigns",
        "method": "PATCH",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.VITE_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.VITE_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{$node['Split Campaigns'].json.id}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "sent_at",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "name": "Update Campaign Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Check Every 15 Minutes": {
      "main": [
        [{ "node": "Get Scheduled Campaigns", "type": "main", "index": 0 }]
      ]
    },
    "Get Scheduled Campaigns": {
      "main": [[{ "node": "Has Campaigns", "type": "main", "index": 0 }]]
    },
    "Has Campaigns": {
      "main": [[{ "node": "Split Campaigns", "type": "main", "index": 0 }]]
    },
    "Split Campaigns": {
      "main": [[{ "node": "Get Recipients", "type": "main", "index": 0 }]]
    },
    "Get Recipients": {
      "main": [[{ "node": "Split Recipients", "type": "main", "index": 0 }]]
    },
    "Split Recipients": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    },
    "Send Email": {
      "main": [
        [{ "node": "Update Recipient Status", "type": "main", "index": 0 }]
      ]
    },
    "Update Recipient Status": {
      "main": [
        [{ "node": "Update Campaign Status", "type": "main", "index": 0 }]
      ]
    }
  }
}
